page-authentication {
  .continue-button{
    background-color: #e67e22;
    //width: 90%;
    alignment: center;
  }

  .error-message{
    color: #ff1a1a;
    text-align: center;
  }

  .error-box{
    border: #ff1a1a 1px dotted;
  }

  .font-bigger{
    font-size: 13pt;
  }

  .no-margin-top{
    margin-top: 0;
  }

  .keyboard {
    height: 50%;
    width: 95%;
    border-radius: 10px;
    ion-row { button { background-color: color($colors, devilBlue); } }
  }
}
