<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{name}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="onChangeName()">
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="grey-backgnd">
  <h3 text-left margin-left>Sistema de Riego</h3>
  <p margin-left class="global-font-16px">Presione el botón para hacer un encendido del sistema de riego.</p>
  <ion-grid class="minus-padding-top">
    <ion-row>
      <ion-col text-center>
        <div>
          <img *ngIf="isOn" src="assets\\imgs\\power-button.png" alt="power-button" width="60%"
               (click)="onChangeState()"/>
          <img *ngIf="!isOn" src="assets\\imgs\\power-button2.png" alt="power-button" width="60%"
               (click)="onChangeState()"/>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="minus-padding-top">

    <ion-list-header>
      <p>Configuración</p>
    </ion-list-header>

    <ion-item>
      <ion-toggle checked="{{isAutoOn}}" (ionChange)="onSetAutoOn()"></ion-toggle>
      <ion-label>
        Encendido automático
      </ion-label>
    </ion-item>

    <ion-item class="background-greyish" *ngIf="isAutoOn" >
      <ion-label>
        Hora de encendido
      </ion-label>
      <ion-note item-end>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="event.timeStarts"
        (ionChange)="onChangeTimeStarts()"></ion-datetime>
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-toggle checked="{{isAutoOff}}" (ionChange)="onSetAutoOff()"></ion-toggle>
      <ion-label>
        Apagado automático
      </ion-label>
    </ion-item>


    <ion-item class="background-greyish" *ngIf="isAutoOff">
      <ion-label>
        Hora de apagado
      </ion-label>
      <ion-note item-end>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="event.timeEnds"
        (ionChange)="onChangeTimeEnds()"></ion-datetime>
      </ion-note>
    </ion-item>
  </ion-list>

</ion-content>
