<ion-header>

  <ion-navbar color="primary">
    <ion-title>Iluminación</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="this.onAddNewItem()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="md-information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="grey-backgnd" >
  <ion-list *ngFor="let place of places">
    <ion-list-header class="titles-style">
      {{ place.placeName }} &nbsp;
    </ion-list-header>

    <ion-item *ngFor="let light of place.lights;">
      <ion-icon name='md-bulb' item-start color="none" *ngIf="!light.on" (click)="onChangeStatus(place.idPlace, light.idLight, !light.on)"></ion-icon>
      <ion-icon name='md-bulb' item-start color="radiantYellow" *ngIf="light.on" (click)="onChangeStatus(place.idPlace, light.idLight, !light.on)"></ion-icon>
      <p (click)="onChangeStatus(place.idPlace, light.idLight, !light.on)" *ngIf="light.on" class="font-bolded bigger-font">{{ light.name }}</p>
      <p (click)="onChangeStatus(place.idPlace, light.idLight, !light.on)" *ngIf="!light.on" class="bigger-font">{{ light.name }}</p>

      <ion-icon name='md-options' item-end color="devilBlue" (click)="presentModal(place.idPlace, place.placeName, light)"></ion-icon>
    </ion-item>

  </ion-list>

  <ion-grid *ngIf="!this.places || this.places.length === 0">
    <ion-row>
      <ion-col col-12 text-center style="color: grey; margin-top: 20%;">
        <h5>
            No tienes nada agregado aún, <br /> pica el botón
            <b><ion-icon name="add"></ion-icon></b>
            para empezar a personalizar tu iluminación
        </h5>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button
            icon-end
            clear
            color="danger"
            (click)="this.onSelectToRemoveAContainer()">
      Eliminar un contenedor
    </button>
  </ion-toolbar>
</ion-footer>
