page-ilumination {
  .bigger-font{
    font-size: 18px;
  }

  .font-bolded{
    font-weight: 400;
    color: black;
  }

  .titles-style{
    color: #636e72;
    font-size: 12pt;
    font-weight: 900;
    padding: 5px 0 2px 15px;
  }
}
