page-home {
  .rounded-borders{
    border-radius: 12px 12px 12px 12px;
    //border-top-left-radius: 12px;
    //border-bottom-right-radius: 12px;
  }

  ion-icon{
    font-size: 32px;
  }

  .text-center{
    vertical-align: center;
  }

  .button-height{
    height: 14%;
  }

  .text-down{
    margin-top: 4%;
  }

  .back-color{
    background-color: #e6f2ff;
  }

  .icons{
    width: 92%;
    margin-bottom: 10%;
  }

  .smaller{
    width: 95%;
    margin-left: 3%;
  }

  .dark{
    color:black;
  }
}
