// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
@import url('https://fonts.googleapis.com/css?family=Karla|Quicksand:500');
$font-family-base: 'Quicksand', 'Karla', sans-serif;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

//$background-color: #f0f7ff;
$colors: (
  //primary:    #488aff,
  primary:     #0984e3,
  primary2:   #0764ab,
  primary3:   #086ab5,
  secondary:  #32db64,
  danger:     #f53d3d,
  danger2:    #27ae60,
  light:      #f4f4f4,
  dark:       #222,
  dark2:      #4b6584,
  devilBlue:  #227093,
  belizeHole: #2980b9,
  naval:      #40739e,
  vanadylBlue:#0097e6,
  greenSea:   #16a085,
  greenSea2:  #12876f,
  sea:        #1289A7,
  marineBlue: #0652DD,
  radiantYellow:#FFC312,
  slightlyGrey:#f2f2f2,
  greenish: #27ae60,
  grey1:    #f2f2f2,
  redish:   #eb3b5a,
  deepRose: #c44569,
  tigerlily: #e15f41,
  androidGreen:#A3CB38,
  alizarin:   #e74c3c,

  // Colors for thermometer
  fourT: #38e6ff, // 14°
  fifT: #72d6fd, // 15°
  sixT: #5dd0fe,  // 16°
  sevenT: #40b5ff, // 17°
  eightT: #169eff, // 18°
  nineT: #5f9cea, // 19°
  twenty: #efb800,  // 20°
  tOne: #fab916,  // 21°
  tTwo: #ff9e03,  // 22°
  tThree: #ff7b01, // 23°
  tFour: #ff4e20 // 24°
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
