page-signin {
  .signin-logo {
    width: 45%;
    height: auto;
  }

  .singinForm {
    //background-color: #5CAEFF;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
  }

  .balloon {
    // As suggested by https://twitter.com/dbox/status/365888496486985728
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 50px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #08447F;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 60px; // Arbitrary.
    transition: all .3s ease-in-out;

    &::-webkit-input-placeholder {
      color: #efefef;
      text-indent: 0;
      font-weight: 300;
    }

    + label {
      display: inline-block;
      position: absolute;
      top: 8px;
      left: 0;
      bottom: 8px;
      padding: 5px 15px;
      color: #032429;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      text-shadow: 0 1px 0 rgba(19,74,70,0);
      transition: all .3s ease-in-out;
      border-radius: 3px;
      background: rgba(122,184,147,0);

      &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        top: 100%;
        left: 50%;
        margin-left: -3px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 3px solid rgba(122,184,147,0);
        transition: all .3s ease-in-out;
      }
    }
  }
  .balloon:focus,
  .balloon:active {
    color: #0D6DCC;
    text-indent: 0;
    background: #fff;

    &::-webkit-input-placeholder {
      color: #aaa;
    }
    + label {
      color: #fff;
      text-shadow: 0 1px 0 #08447F;
      background: #5f9cea;
      transform: translateY(-40px);

      &:after {
        border-top: 4px solid #5f9cea;
      }
    }
  }

  .invalid-input {
    background-color: #e74c3c;
    color: white;
    //width: 90%;
    margin: 5px 0 5px 0;
    border-radius: 7px;
    max-width: 450px;
    padding: 5px;
  }
}
