page-camera {
  .video{
    height: 280px;
    width: 100%;
    border: #a6a6a6 solid 2px;
    background-color: #2f3640;
    color: white;
    border-radius: 10px;

    .img1{
      height: 50%;
      width: 42%;
      margin-left: 30%;
      margin-top: 20%;
    }

    .img2{
      margin-top: 20%;
    }
  }

  .caution{
    color: #dd8888;
  }

  .statusOk{
    color: #27ae60;
  }
}
