<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ place.lights[id_light].name }}</ion-title>

    <ion-buttons item-start>
      <button ion-button (click)="closeModal()">Cerrar</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list no-border>
    <ion-list-header>
      <p>Información</p>
    </ion-list-header>

    <!--<ion-item (click)="changeStatus(light.id_place, index_light)">-->
    <ion-item>
    <ion-avatar item-start>
        <img (click)="onChangeStatus()" *ngIf="place.lights[id_light].on" src="assets\\imgs\\light-bulb-on.png">
        <img (click)="onChangeStatus()" *ngIf="!place.lights[id_light].on" src="assets\\imgs\\light-bulb.png">
      </ion-avatar>
      <h2 (click)="onChangeStatus()">{{ place.lights[id_light].name }}</h2>
      <p (click)="onChangeStatus()">{{ place.place }}</p>
    </ion-item>

    <ion-item>
      Encendido
      <ion-note item-end>
        <p *ngIf="place.lights[id_light].on">Si</p>
        <p *ngIf="!place.lights[id_light].on">No</p>
      </ion-note>
    </ion-item>

  </ion-list>

  <ion-list no-border>
    <ion-list-header>
      <p>Configuración</p>
    </ion-list-header>

    <ion-item>
      Editar nombre
      <ion-icon name="md-create" item-end (click)="changeLightName()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-toggle *ngIf="place.lights[id_light].auto_on" checked="true" (ionChange)="toggleChange(1)"></ion-toggle>
      <ion-toggle *ngIf="!place.lights[id_light].auto_on" checked="false" (ionChange)="toggleChange(1)"></ion-toggle>
      <ion-label>
        Encendido automático
      </ion-label>
    </ion-item>

    <ion-item class="background-greyish" *ngIf="place.lights[id_light].auto_on">
      <ion-label>
        Hora de encendido
      </ion-label>
      <ion-note item-end>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="event.timeStarts" (ionChange)="changeTimeStarts()"></ion-datetime>
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-toggle *ngIf="place.lights[id_light].auto_off" checked="true" (ionChange)="toggleChange(2)"></ion-toggle>
      <ion-toggle *ngIf="!place.lights[id_light].auto_off" checked="false" (ionChange)="toggleChange(2)"></ion-toggle>
      <ion-label>
        Apagado automático
      </ion-label>
    </ion-item>

    <ion-item class="background-greyish" *ngIf="place.lights[id_light].auto_off">
      <ion-label>
        Hora de apagado
      </ion-label>
      <ion-note item-end>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="event.timeEnds" (ionChange)="changeTimeEnds()"></ion-datetime>
      </ion-note>
    </ion-item>
  </ion-list>


</ion-content>
