page-successful-payment {
  .greenish {
    color: #10ac84;
  }

  .finish-button{
    width: 90%;
    alignment: center;
  }

  .bluish{
    background-color: #99ddff;
    color: black;
    border-radius: 7px;
    font-size: 18px;
    b{
      font-size: 16px;
      color: #0077b3;
    }
  }

  p{
    font-size:18px;
    b{
      font-size: 16px;
      color: #0077b3;
    }
  }
}
