page-grocery-modal {

  .borders{
    border: #e6e6e6 solid 1px;
    border-radius: 7px;
  }

  .no-margin-bottom{
    margin-bottom: 0;
  }

  .footer-button{
    background-color: #27ae60;
    width: 90%;
    alignment: center;
  }

  .form-fixed{
    position: fixed;
  }
}

